{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %} 

<div class="container">

    <div class="bg-light p-4">

    <h1 class="mb-4">Modifier le mot de passe</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button class="submit btn btn-primary mt-2">Modifier le mot de passe</button>

        {{ form_end(form) }}

    </div>

</div>

{% endblock %}