    <footer class="mt-5 pt-3 py-3 navbar-dark bg-primary text-center text-white">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-4 mb-4 mb-sm-0"><i class="fas fa-address-card mr-2"></i>CONTACT PAN PLI
          <hr class="whiteBackgroundColor">
          Adresse: 3b, rue Florimond Crépin</br>
          59120 Haubourdin (FR)</br>
          Annexe : 7, rue des aveugles</br>
          7500 Tournai (BE)</br>
          FR port. : +33(0)665915566</br>
          BE port. : +32(0)470417506
          </div>

          <div class="col-12 col-sm-4 mb-4 mb-sm-0"><i class="fas fa-handshake mr-2"></i>PARTENAIRES
          <hr class="whiteBackgroundColor">
          Nous remercions :
          <ul>
          <li>L'abattoir Le Poulet d'Or de Tournai</li>
          <br>
          Sur Villeneuve d'Ascq :
          <li>La biocoop de Saveurs et Saisons</li>
          <li>Le magasin bio BBG</li>
          <li>La poisonnerie d'Auchan</li>
          <br>
          <li>Les magasins Tom&Co de Tournai et Mouscron</li>
          </ul>
          Pour nous permettre  de récupérer leurs invendus pour nourrir les animaux sauvages blessés à la charge de CREAVES de Templeuve, intégré à l'association PAN PLI depuis sa création
          </div>

          <div class="col-12 col-sm-4 mb-4 mb-sm-0"><i class="fas fa-address-card mr-2"></i>CONTACT CREAVES
          <hr class="whiteBackgroundColor">
          Adresse : 29/A, rue d'Estafflers</br>
          7520 Templeuve (Tournai) </br>
          Portable: +32(0)493338207
          </div>
        </div>         
      </div>
      <hr class="whiteBackgroundColor">
      <div class="container">
        <p class="m-0 py-3">Design : Association PAN PLI | Conception - Réalisation : Jean-Charles Graillot | 2019 - 2020</p> 
      </div>
    </footer>  