{% extends 'base.html.twig' %}

{% block title %}
    {{ product.productName }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ product.productName }}</h1>
    </div>
{% endblock %}