{% extends 'admin/base.html.twig' %}

{% block title %}Publication d'un commentaire{% endblock %}

{% form_theme form _self %}

{% block body %}

    <div class="container">

        <div class="bg-light p-4 greyBoxShadow">

            <h1 class="mb-4">Publication ou modification du commentaire</h1>

            {{ form_start(form) }}

            {{ form_widget(form) }}

            {# <div class="form-group">
                <div class="form-check">
                    <input id="comment_isActive" class="form-check-input" type="checkbox" name="comment[isActive]" placeholder="" value="{{ comment.isActive }}">
                    <label class="form-check-label" for="comment_isActive">Activer ou désactiver la publication du commentaire</label>
                </div>
            </div> #}

            <button type="submit" class="btn btn-success mt-2">Confirmer</button>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}