{% extends 'base.html.twig' %}

{% block body %}

    
    <div class="d-flex">
        <div class="d-none d-sm-block col-sm-2 panpliGreyBanner m-0 p-0"></div>
        <div class="col-12 col-sm-8 m-0 p-0 pb-4 panpliGreyBanner greyText text-center">
                <img src="images/panpli_banner.jpg" alt="Bannière de l'association" class="mw-100">
                <h1 class="text-center font-weight-bold mt-2">Association PAN PLI</h1>
                <p class="lead font-italic h2 px-3 mx-auto panpli"><span>p</span>our les <span>a</span>lternatives au <span>n</span>aturel, <span>p</span>our la <span>l</span>iberté d'<span>i</span>nformations</p>
        </div> 
        <div class="d-none d-sm-block col-sm-2 panpliGreyBanner m-0 p-0"></div>
    </div>

    {# <div class="container"> #}
        <div class="col-12 col-sm-8 mx-auto">
            <div class="bg-light mt-5 px-3 greyBoxShadow">
                <div id="birth" class="pt-3 pb-3">
                        <h2>Genèse</h2><br>
                        <p class="font-weight-bold">L'association PAN PLI est née en Septembre de l'année 2012, de la convergence de trois points essentiels :</p>
                        <ol>
                            <li>La volonté de pérenniser le CREAVES de Templeuve Belgique.</li><br>
                            <li>La volonté de créer une ferme agro-sylvo-pastorale associative en permaculture comme modèle agricole alternatif permettant une autonomie alimentaire locale.</li><br>
                            <li>Pour répondre à un appel à projet de recherche sur les systèmes agricoles et l'environnement proposé par le conseil régional du Nord - Pas de Calais en 2012 et pour lequel, Nicolas Graillot, auteur de cette étude qui a eu l'accord de la collaboration du laboratoire de microbiologie des sols de Lydia et Claude Bourguignon devait se greffer à une association.</li>
                        </ol>
                </div>    
            </div>

            <div class="bg-light mt-5 mb-5 px-3 pb-3 greyBoxShadow">      
                <div id="statutes" class="pt-3">
                    <h2>Extraits des statuts</h2><br>
                    <p class="font-weight-bold">Voici les informations inscrites dans nos statuts décrivant l’objet de l’association depuis sa création :</p>
                    <p>Les objets et moyens d’action de l'association sont d’(e) :</p>
                    <ol>
                        <li>Informer, expérimenter et promouvoir les alternatives respectueuses de la biodiversité, par une redéfinition de la place de l'homme dans la nature.</li><br>
                        <li>Tenter d'être un relais avec les instances actuelles de l'agriculture et de l'agro-industrie pour leur signifier les alternatives à une agriculture industrielle.</li><br>
                        <li>Favoriser la communication des recherches de chercheurs ayant intégrés cette complexité et voulant promouvoir d'autre méthodes, mais aussi de toute personne volontairement pratiquante d'une agriculture naturelle, détentrice d'un savoir "ancien", pratiquante d'un artisanat d'art et voulant le transmettre.</li><br>
                        <li>Informer ses adhérents (professionnels et particuliers) désireux de produire et/ou consommer une nourriture saine, naturelle, équilibrée.<br><span class="font-italic">"Ta nourriture sera ta médecine ... ta médecine sera ta nourriture" - Hippocrate.</span></li><br>
                        <li>Informer afin de se préserver au mieux des polluants de notre environnement dans le quotidien.</li><br>
                        <li>Informer sur les moyens de rendre son logement "neutre" et en autosuffisance énergétique, ou sur la construction d'un logement bioclimatique "neutre" avec des matériaux soucieux de préserver notre biodiversité ou en encore sur l’auto-éco-construction.</li><br>
                        <li>S’ouvrir contractuellement aux professionnels désireux d'utiliser ce lien homme/nature pour la reconstruction de l'individu, aux institutions locales désireuses de s'ouvrir aux méthodes alternatives ayant déjà montré leur efficience (permaculture, système agro-sylvo-pastorale, villes en transition).</li><br>
                        <li>Promouvoir ce type de microstructures agricoles (0,5<6HA) qui permet une autosuffisance alimentaire locale de qualité et est créatrice d’emplois durables et non délocalisables.</li>
                    </ol>
                </div>    
            </div>
        </div>
    {# </div> #}

{% endblock %}