{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mentions légales</h1>

        <p>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur repellendus rerum ipsam, numquam quis aliquam officiis esse necessitatibus dolores vitae optio eius nemo. Maxime enim animi tempore cumque consequatur obcaecati.</span>
            <span>Perferendis assumenda nobis nulla eaque quia. Libero, saepe! Natus odio blanditiis delectus quam quasi dolorum officiis recusandae omnis laudantium vero, dolore necessitatibus a ea. Eum numquam ipsa quod neque quasi!</span>
            <span>Ratione laudantium consequuntur eos sit fugiat veritatis maxime. Illum, vero quam magni dolorum, incidunt neque deserunt eaque et veritatis doloribus sed! Libero voluptatem fugit quod! Debitis odio ut nam quidem.</span>
            <span>Fuga suscipit corporis praesentium aliquam, laboriosam enim. Corrupti asperiores voluptate esse doloribus? Ut neque assumenda quo quod illo, dolorum corporis quaerat molestiae similique nulla laborum sunt obcaecati quasi, illum perferendis?</span>
            <span>Cum reprehenderit explicabo itaque minima dolor sint exercitationem neque quis quasi laboriosam sapiente amet fuga quam, ea iusto, debitis veritatis adipisci nihil sit quibusdam, nam distinctio qui. Tempora, officia placeat!</span>
        </p>
        <p>
            <span>Corrupti, eum eos mollitia quas ipsum corporis maxime error. Omnis quod, temporibus adipisci ad, blanditiis rerum in libero perferendis non deserunt, quia optio repudiandae rem sed doloribus deleniti nemo dolore.</span>
            <span>Error sunt odio dolorum mollitia ducimus ut molestiae natus facere voluptas quam sint voluptate nobis delectus assumenda asperiores autem perferendis est quaerat minus odit, nemo quidem! Voluptatibus quae nesciunt sit?</span>
            <span>Cumque, natus omnis commodi porro quasi neque similique mollitia sint? Quos in vel rem, ipsa quisquam doloribus possimus eum repellat sed delectus laboriosam incidunt repellendus cupiditate quasi quod est? Voluptatum.</span>
            <span>Magnam molestias omnis ex pariatur quasi odio praesentium iste dicta, quidem deserunt temporibus assumenda, cupiditate molestiae. Atque maxime corporis iste distinctio autem natus eligendi exercitationem quasi explicabo ipsum, a numquam.</span>
            <span>Id distinctio, delectus aut ad pariatur, blanditiis minus eligendi amet facere modi doloribus! Voluptas incidunt necessitatibus fugit culpa. Voluptatum delectus fuga voluptatibus doloribus incidunt harum suscipit fugit saepe corrupti similique?</span>
        </p>
        <p>
            <span>Saepe veritatis, excepturi voluptatibus doloremque ab laborum error accusamus exercitationem distinctio quae qui beatae consequatur, impedit inventore. Suscipit sapiente unde sed alias quisquam cum accusantium sit, molestiae distinctio nostrum deleniti!</span>
            <span>Labore aliquid commodi blanditiis deleniti voluptates recusandae eos deserunt similique vitae, non nihil accusantium itaque libero mollitia qui nemo fugiat provident. Architecto quae debitis doloribus, quod in voluptatibus similique blanditiis.</span>
            <span>Eius ipsa natus minima voluptate architecto quas consequatur ea, officia vel ipsam! Incidunt harum fuga quas error illo hic, nam quaerat magni vel aperiam, omnis a alias numquam dicta et.</span>
            <span>Eligendi atque voluptates nulla distinctio debitis excepturi nihil corrupti quia, assumenda corporis, dolores numquam cum, saepe fugiat nisi temporibus reiciendis minus. Molestias voluptatibus praesentium aperiam sunt odio. Animi, culpa facilis!</span>
            <span>Ex dolor, consequatur natus distinctio ducimus odit fuga porro possimus, fugit repellendus eum officiis? Laborum et adipisci excepturi non laudantium sint, odit exercitationem sapiente, accusamus hic explicabo consequatur, quidem deserunt.</span>
        </p>
        <p>
            <span>Vel fugit aliquid incidunt harum. Consequatur illo impedit dolorem dolor, enim dignissimos quis rerum sed. Natus autem perferendis labore temporibus corrupti maiores voluptate incidunt maxime? Expedita rerum repellat inventore maiores?</span>
            <span>Impedit ipsam recusandae inventore dignissimos rerum qui sequi nihil consectetur, soluta corporis ut quidem doloremque? Dolor consequuntur quisquam harum minus, praesentium at laboriosam natus vel, ducimus assumenda nobis illo ut?</span>
            <span>Id odit, provident nostrum ratione obcaecati dignissimos consequuntur consequatur quasi, temporibus a consectetur fugit, quos maxime voluptas. Aut laborum obcaecati maxime fugit tenetur, itaque omnis cum voluptate distinctio dicta error!</span>
            <span>Earum saepe voluptates dolorem! Laborum deleniti quasi explicabo, officiis fugit magni consequatur veritatis voluptates facilis. Nostrum cupiditate natus tempora similique exercitationem optio nemo numquam officiis? Repudiandae qui iste veniam sequi.</span>
            <span>Possimus numquam quia laboriosam, nam odio esse eius et neque est expedita ea eaque eum blanditiis vel rerum ducimus! Voluptates nemo, quis reprehenderit totam non velit saepe eos quos sit!</span>
        </p>
        <p>
            <span>Repellendus facilis incidunt, error tempore dicta aliquam repellat eius nulla recusandae rem ea voluptate nostrum animi aspernatur asperiores mollitia a perferendis sequi vel dolor ad earum quaerat doloribus magni? Veniam!</span>
            <span>Possimus commodi voluptate sit, veritatis sapiente libero! Cupiditate at ipsam nobis rem voluptate quibusdam dolorum fuga eligendi, commodi assumenda sapiente, ad maxime quia non unde soluta numquam nemo doloribus? Blanditiis!</span>
            <span>A dolores voluptas perferendis sequi voluptates aut facilis culpa, eum dolore explicabo, modi iusto ullam excepturi sunt consectetur dicta ipsum eaque voluptatum quas consequatur ut praesentium saepe? Ratione, dicta molestias.</span>
            <span>Id provident illo placeat velit sequi saepe inventore nisi obcaecati minima. Vero recusandae amet obcaecati beatae aliquid, quod voluptatem, aperiam quae cumque corporis ad tempora sint aspernatur, temporibus voluptatum excepturi!</span>
            <span>Earum nobis id excepturi expedita amet repellat soluta qui vel quidem! Doloremque sed cum sunt sequi dolorem doloribus adipisci quaerat cupiditate illo numquam perspiciatis ipsam, eligendi, expedita veritatis, quasi deleniti.</span>
        </p>
    </div>
{% endblock %}