{% extends 'base.html.twig' %}

{% block title %}La spiruline PAN PLI{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-5">La Spiruline PAN PLI</h1>
    <div class="row mb-4 d-flex align-items-center p-3" style="background-color: #cae2cc; border: 5px dashed black;">
        <div class="col-12 col-lg-6">
            <h2 class="mb-4">Pour contribuer aux frais de fonctionnement du CREAVES...</h2>
            <p>...Notre association vend des sachets de spiruline de 100g d'excellente qualité en paillettes au détail à un prix de 20 euros qui descend à 15 euros si vous êtes adhérent.</p>
            <p>Les fonds issus de ces ventes nous aide a assurer les frais liés au fonctionnement du CREAVES.</p>
            <p>En provenance d'une ferme artisanale privée du Burkina Faso, elle est respectueuse de l'environnement et surtout humanitaire, équitable et solidaire !.</p>
            <p></p>
        </div>
        <div class="col-12 col-lg-6 text-center">
            <img class="img-responsive mw-100" src="images/spiruline_pan_pli_16x9.jpg" alt="Spiruline PAN PLI">
        </div>
    </div>
    <h2 class="my-5">Mais qu'est-ce que la spiruline?</h2>
    <h3>Un complément alimentaire très complet</h3>
    <div class="row my-4 d-flex align-items-center bg-light p-3 greyBoxShadow">
        <div class="col-12 col-lg-7 my-2">
            <img class="img-responsive mw-100" src="images/spiruline-en-paillettes.jpg" alt="Paillettes de spiruline">
        </div>
        <div class="col-12 col-lg-5">
            <p>La spiruline est une algue qui existe telle quelle depuis plus de 3 milliards d'années.</p>
            <p>Ainsi nommée en raison de sa forme spiralée, elle appartient à la famille des cyanobactéries ou microalgues bleu-vert.</p>
            <p>Il existe près de 1 500 espèces d'algues bleues, et 36 espèces de spiruline sont comestibles.</p>
            <p>La principale espèce actuellement offerte sur le marché est la Spirulina platensis.</p>
            <p>D’abord cultivée principalement en Californie et à Hawaï, la spiruline est maintenant produite de façon contrôlée partout dans le monde où le climat le permet : Chili, Chine, Cuba, Inde, Afrique de l’Ouest, Grèce (en serres géothermiques), etc.</p>
            <p>Dans le commerce, la spiruline se présente généralement sous la forme d'une poudre bleu-vert déshydratée, en paillettes ou en capsules.</p>
        </div>
    </div>
    <h3 class="mt-5">Composition</h3>
    <div class="row my-4 d-flex align-items-center bg-light p-3 greyBoxShadow">
        
        <div class="col-12 col-lg-6">
            
            <p>La spiruline, faible en calories, contient une mine de nutriments dans un très petit volume. Sa teneur peut cependant varier selon son origine géographique, mais aussi selon les procédés de culture, de séchage et de broyage.</p>
            <p>La spiruline contient de 55 % à 70 % de protéines d'excellente qualité (proportion des acides aminés et digestibilité optimales), soit de 2,5 g à 3,5 g de protéines par 5 g de poudre.</p>
            <p>La spiruline est une source exceptionnelle de caroténoïdes variés (bêta-carotène principalement, mais aussi cryptoxanthine, lutéine, zéaxanthine, etc.), soit autour de 22 mg/5 g. Elle fournit notamment une quantité astronomique de bêta-carotène, soit de 12 000 UI à 25 000 UI par 5 g de poudre.</p>
            <p>Elle constitue une excellente source de fer, soit de 3 mg à 8 mg par 5 g.</p>
            <p>Elle contient une quantité appréciable d'acide gamma-linolénique (de 40 mg à 50 mg/5 g), un acide gras insaturé de la famille des oméga-6.</p>
            <p>De plus, la spiruline est riche en phycocyanine, le seul pigment bleu naturel pouvant servir de colorant alimentaire et auquel on attribue une activité antioxydante importante. Elle contient également de la chlorophylle et de petites quantités de plusieurs minéraux.</p>
            <p>Voilà pourquoi on parle souvent de cette algue comme d’un « superaliment ».</p>
        </div>
        <div class="col-12 col-lg-6">
            <img class="img-responsive mw-100" src="images/bienfaits_spiruline.png" alt="Apports de la spiruline">
        </div>
    </div>
    <h3 class="mt-5">Bienfaits et précautions à prendre</h3>
    <div class="row my-4 bg-light p-3 greyBoxShadow">
        <div class="col-12 col-lg-6">
            <h3 class="mb-4">Bienfaits</h3>
            <p>La spiruline est une algue spiralée qui existe depuis 3 milliards d’années.</p>
            <p>Faible en calorie, elle contient une grande quantité de protéines, d’antioxydants (caroténoïdes, phycocyanine) et d’acide gamma-linolénique (issu de la famille des oméga-6).</p>
            <p>Des recherches mettent en avant des propriétés antioxydantes, antidiabétiques et immunostimulantes de la spiruline, ainsi que ses capacités à réduire le taux de lipides sanguins.</p>
            <p>Si vous souffrez de phénylcétonurie, consultez obligatoirement votre médecin avant d’entreprendre une cure.</p>
        </div>
        <div class="col-12 col-lg-6 cautions">
            <h3 class="mb-4">Précautions</h3>
            <ul>
                <li>Contrairement à d’autres algues bleu-vert, la spiruline n’est pas contaminée par des toxines appelées microcystines. Si l'étiquette d'un produit porte une mention du type « Algues bleu-vert », « Superaliment bleu-vert » sans que le mot « spiruline » y figure, il s'agit probablement d'une autre espèce de cyanobactéries, par exemple l'Aphanizomenon flos-aquae qui, elle, peut être contaminée.</li>
                <li>Un test sur près de 82 échantillons de spiruline vendus au Canada a révélé que cette algue n’est pas non plus contaminée par l’anatoxine-a, une autre toxine dangereuse produite par certaines algues.</li>
                <li>Les algues accumulent les métaux lourds comme le plomb, l'arsenic et le cadmium lorsque leur environnement de culture est pollué. Il est donc recommandé d'opter pour de la spiruline dont les méthodes de culture sont rigoureusement contrôlées : chercher des mentions en ce sens sur l’étiquette du produit, ou, en cas de doute, contacter le fabricant.</li>
                <li>Comme la spiruline peut avoir un effet stimulant chez certaines personnes, il est préférable de ne pas en prendre le soir.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
