{% extends 'admin/base.html.twig' %}

{% block title %}Création d'un rôle{% endblock %}

{% block body %}

    <div class="container">

        <div class="bg-light p-4 greyBoxShadow">

            <h1 class="mb-4">Créer un nouveau rôle</h1>

            {{ form_start(form) }}

            {{ form_widget(form) }}

            <button method="submit" class="btn btn-primary mt-3">Créer le nouveau rôle</button>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}