{% extends 'base.html.twig' %}

{% block title %}Notre projet{% endblock %}

{% block body %}

<div class="container">

    <h1 class="mb-5">Notre projet</h1>
    <div class="row bg-light d-flex align-items-center p-3 greyBoxShadow">
        <div class="col-4 d-none d-lg-block">
            <img src="images/pan_pli_logo.png" alt="Logo PAN PLI" class="mw-100">
        </div>
        <div class="col-12 col-lg-8">
            <h2 class="mb-4">Objectifs principaux</h2>
            <p>Créer une ferme associative de type agro-sylvo-pastorale (agro-écologie) suivant les principes de la <a href="#permaculture">permaculture</a> pour pérenniser le <a href="#creaves">CREAVES</a> de Templeuve (Centre de Revalidation des Espèces Animales Vivantes à l’Etat Sauvage).</p>
            <p style="font-style: italic;">( Les animaux dont nous avons la charge :</br>
            L’association PAN PLI a en charge le centre CREAVES de Templeuve Belgique, deux étalons Lusitanien, une quarantaine de gallinacées, et quatre chiens. )</p>
            <p>Promouvoir les savoirs et artisanats anciens liés à ces pratiques (permaculture) au travers d’une école de la nature et du vivant.</br>PAN PLI servira de passerelle à divers organismes, écoles, institutions, laboratoires privés intéressés par son objet et donnera accès au public à ces informations; les principes de la permaculture : respecter la terre, respecter l’homme, partager les surplus.
            </p>
        </div>
    </div>

    <div class="row mt-5 bg-light d-flex align-items-center p-3 greyBoxShadow">
        <div class="col-12 col-lg-6">
            <h2>Nos besoins</h2>
            <h3 class="h5">Message aux propriétaires terriens et aux actuels locataires du CPAS :</h3>
            <p>Notre projet de ferme expérimentale nécessite 2 à 5 HA de prairie, terre agricole ou bois. Une ruine ou un corps bâti (qui sera rénovée ou auto-éco-construit) serait préférable sur site, notre présence y étant obligatoire, animaux oblige (CREAVES etc.).</p>
            <p>Le CPAS de Tournai a accepté de nous présenter comme porteur de projet agricole alternatif et, à ce titre de transmettre ce dépliant à tous les locataires de leurs terres pour leur signifier que nous sommes de potentiels repreneurs de foncier agricole pour développer notre projet de ferme associative suivant les principes de la permaculture, qui pérennisera le CREAVES de Templeuve.</p>
        </div>
        <div class="col-12 col-lg-6 mx-auto mb-3 p-0" style="border: 2px dashed black;">
            <img class="img-responsive mw-100" src="images/vue-plan-ferme-des-possible.png" alt="Image de dessus de la ferme des possibles">
            
        </div>
        <div class="col-12">
            <p>Même si nous n’avons pas de famille dans le monde agricole, nous avons connaissance des us et coutumes en matière de transmission du droit d’usure (fumure) et nous engageons à les respecter.</p>
        </div>
    </div>

    <div id="permaculture" class="row mt-5 bg-light p-3 greyBoxShadow">
        <div class="col-12 mb-4">
            <h2>Connaissez-vous la permaculture?</h2>
            <p>Une démarche systèmique holistique résiliente, en biomimétisme de la nature, pour créer des lieux de vie harmonieux, écologiquement soutenables, socialement équitables et économiquement viables...</p>
        </div>
        <h3 style="h4" class="col-12 mb-4">Quelques exemples de techniques utilisées en maraîchage ...</h3>
        <div class="col-12 col-lg-6 row">
            <div class="col-5 d-none d-sm-block">
                <img src="images/cultures_associees.jpg" alt="Image de cultures associées" class="mw-100 blackBoxShadow">
            </div>
            <div class="col-12 col-sm-7">
                <p class="font-weight-bold">Les cultures associées</p>
                <p class="text-justify">Si une plante pousse c’est qu’elle a sa raison d’être (équilibrer le sol en nutriments, l’assouplir et l’aérer, le protéger, etc). Ainsi, en permaculture, on associe plantes sauvages et plantes cultivées, de différentes familles, par ce biais, on favorise les interractions bénéfiques...</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 row">
            <div class="col-5 d-none d-sm-block">
                <img src="images/mare_multifonctionnalite.jpg" alt="Image de mare" class="mw-100 blackBoxShadow">
            </div>
            <div class="col-12 col-sm-7">
                <p class="font-weight-bold">Mare et multifonctionnalité</p>
                <p class="text-justify">Installer une mare, c’est créer un réservoir de biodiversité qui accroît la résilience du lieu, tout en représentant une sécurité pour l’approvisionnement en eau, une opportunité pour la culture de plantes aquatiques, un gîte pour canards mangeurs de limaces, et un vrai plaisir bucolique...</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 row">
            <div class="col-12 col-sm-7">
                <p class="font-weight-bold">La culture sur Mulch</p>
                <p class="text-justify">Ce type de culture sur sol couvert illustre un principe de permaculture qui veut qu’un élément remplisse plusieurs fonctions : protection du sol contre le soleil ou les pluies battantes, aide au contrôle des adventices, conservation de l’eau, fertilisant...</p>
            </div>
            <div class="col-5 d-none d-sm-block">
                <img src="images/culture_mulch.jpg" alt="Image de culture sur Mulch" class="mw-100 blackBoxShadow">
            </div>
        </div>
        <div class="col-12 col-lg-6 row">
            <div class="col-12 col-sm-7">
                <p class="font-weight-bold">Le tracteur à poules</p>
                <p class="text-justify">Apprécié des permaculteurs, ce poulailler mobile permet aux poules de se nourrir seules, de nettoyer le sol en grattant et de le fertiliser grâce à leurs déjections aux endroits judicieusement choisis du jardin ou de la ferme...</p>
            </div>
            <div class="col-5 d-none d-sm-block">
                <img src="images/tracteur_poules.jpg" alt="Image de culture sur Mulch" class="mw-100 blackBoxShadow">
            </div>
        </div>
    </div>
    <div id="creaves" class="row mt-5 pb-4 bg-light p-3 greyBoxShadow">
        <div class="col-12 mb-5">
            <h2>Petite histoire du CREAVES de Templeuve en Belgique (30 ans déjà !)</h2>
        </div>
        <div id="logosSlider" class="carousel slide d-xs-block col-xs-12 d-sm-none mx-auto mb-3" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="images/logo-croh.jpg" class="d-block w-100" alt="Logo du Centre de Revalidation des Oiseaux Handicapés">
                    </div>
                    <div class="carousel-item">
                    <img src="images/ligue_royale_belge_300x300.jpg" class="d-block w-100" alt="Logo de la Ligue Royale Belge">
                    </div>
                    <div class="carousel-item">
                    <img src="images/logo_creaves_2.jpg" class="d-block w-100" alt="Logo du Centre de Revalidation des Espèces Animales Vivantes à l’Etat Sauvage">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#logosSlider" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#logosSlider" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        </div>
        <div class="col-12 row d-flex justify-content-between mb-3">
            <div class="d-none d-sm-block col-sm-2">
                <img src="images/logo-croh.jpg" alt="Logo du CROH" class="mw-100 blackBoxShadow">
            </div>
            <p class="col-12 col-sm-8 text-justify">Au début des années 90, Guy Meurisse, père de Ludivine, co-fondatrice de l’association PAN PLI s’occupait de rapaces blessés et, à ce titre, une partie de son jardin est devenu le CROH de Templeuve (Centre de Revalidation pour Oiseaux Handicapés) qui faisait partie de la LRBPO (Ligue Royale Belge pour la Protection des Oiseaux).</p>
            <div class="d-none d-sm-block col-sm-2">
                <img src="images/ligue_royale_belge.png" alt="Logo de la Ligue Royale Belge" class="mw-100 blackBoxShadow">
            </div>
        </div>
        <div class="col-12 row mb-3">
            <p class="col-12 col-sm-10">C’est en 1998 que la région wallonne contacta tous les CROH pour savoir s’ils étaient désireux d’obtenir l’agréement pour soigner, en plus des oiseaux, les mammifères sauvages (chauve-souris, hérisson, lérot, belette, etc...) et donc de devenir CREAVES, ce que Guy accepta.</p>
            <div class="d-none d-sm-block col-sm-2">
                <img src="images/logo_creaves_2.jpg" alt="Logo du CREAVES" class="mw-100 blackBoxShadow">
            </div>
        </div>
        <div class="col-12 row mt-3">
            <div class="col-12 col-lg-6 text-justify">
                <p>En 2001, suite au décès de son père, Ludivine reprit les activités du centre en tant que responsable-soigneuse bénévole.</p>
                <p>Le centre travaille avec des vétérinaires, eux aussi bénévoles et nous pratiquons une très grande majorité des soins avec des produits d’origine naturelle et biologique par l’argilothérapie, l’aromathérapie, et l’homéopathie etc...</p>
                <p>Les petits mammifères qui peuvent retrouver le chemin de la liberté sont relâchés tout comme les oiseaux, qui eux, sont au préalable bagués. Pour ceux, qui sont trop handicapés, le centre les garde pour qu’ils y finissent leurs jours. Nous travaillons toujours dans le respect du vivant.</p>
            </div>
            <div id="creavesAnimals" class="carousel slide col-12 col-lg-6" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="images/chouette_slide.jpg" class="d-block w-100" alt="Image de chouette">
                    </div>
                    <div class="carousel-item">
                    <img src="images/duo_chouettes_slide.jpg" class="d-block w-100" alt="Image d'un duo de chouettes">
                    </div>
                    <div class="carousel-item">
                    <img src="images/herisson_slide.jpg" class="d-block w-100" alt="Image de hérisson">
                    </div>
                    <div class="carousel-item">
                    <img src="images/oiseau_slide.jpg" class="d-block w-100" alt="Image d'oiseau">
                    </div>
                    <div class="carousel-item">
                    <img src="images/souris_slide.jpg" class="d-block w-100" alt="Image de souris">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#creavesAnimals" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#creavesAnimals" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-12 mt-3">
            <p>Nous récupérons par an, entre 150 et 250 animaux, du moineau en passant par les pigeons, rapaces, corvidés, et toute sorte de petits mammifères...</p>
            <p class="mb-4">En 2012, nous avons créé l’association PAN PLI qui a pour objectif, entre autres, de pérenniser le CREAVES de Templeuve.</p>
            <a class="btn btn-primary" href="pdf/CREAVES Templeuve 2019.pdf" target="_blank" role="button">En savoir plus sur le CREAVES</a>
        </div>
        
    </div>
</div>

{% endblock %}
